<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.exproject.user.UserMapper">
    <!-- 회원가입(유저 추가)-->
    <insert id="insUser" useGeneratedKeys="true" keyProperty="userPk">
        INSERT INTO t_user
        SET uid = #{uid}
        , upw = #{upw}
        , nm = #{nm}
    </insert>

    <!-- 로그인 인증 -->
    <select id="selUserSignin">
        SELECT user_pk AS userPk, uid, upw, nm, created_at AS createdAt
        FROM t_user
        WHERE uid = #{uid}
    </select>
</mapper>